@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #24252A;
}


   

header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    
}

ul,a,button,h1{
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    
}
.logo{
  margin-right: auto;
  cursor: pointer;
}
.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0 20px;
    
}
.nav-links li a{
    transition:  0.3s ;
}
.nav-links li a:hover{
    color: #0088a9;
}
button{
    margin-left: 20px;
    padding: 9px 25px;
    border-radius: 50px;
    background-color: rgba(0,136,169,1);
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
button:hover{
    background-color: rgba(0,136,169,0.7);
}
